{{#partial "styles"}}
    <link rel='stylesheet' href='/css/App.css'>
{{/partial}}
{{#partial "content"}}
    <h1 class="mob">All sightings</h1>

    <div class="container">
    {{#if sightings}}

            <h6 class="font-weight-bold indigo-text py-2">Sighted By: {{animals_id}}</h6>
            <h6 class="font-weight-bold indigo-text py-2">Location: {{sightings_location}}</h6>
            <h6 class="font-weight-bold indigo-text py-2">Time: {{date}}</h6>


            <form action="/sightings/{{id}}/delete" method="post">
                <a href="/sightings/{{id}}/delete"><button class="btn btn-danger">Delete sighting</button></a>
            </form>
        </div>
    {{/if}}
    </div>


    <br>

    <br>


    </div>


    <div class="row text-center">
        <a href="/sightings/new"><button class="btn btn-dark-green">Add New Sighting</button></a>
    </div>
{{/partial}}
{{> layout.hbs}}
